header {
  margin-top: 2vw;
}
.employees {
  margin: 2%;
  margin-bottom: 2%;
  margin-top: 1%;
  font-size: 20px;
  display: inline-block;
  width: 45%;
  border-radius: 10px;
  background-color: white;
}

